@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    display: flex;
    background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
}