@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    display: flex;
    background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
}

.calendar {
    display: grid; /*Make this box a grid container so its children can be arranged in rows and columns, like a table, but using modern grid rules*/
    grid-template-columns: 100px repeat(5, 1fr); /* this means:Make the grid have columns like this: the first column is 100 pixels wide, and the next five columns all share the remaining space equally.*/
    grid-auto-rows: 80px; /* Each row without an explicit height will become 80px tall.*/
    width: 90%;
    max-width: 1000px;
    border: 0.3px solid white;
    padding: 25px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(225,225,225, 0.3), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25));
}

.cell {
    border: 0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 7px;
    background: rgba(225, 225, 225, 0.2);
    color: white;
    backdrop-filter: blur(2px);
    text-align: center;
}

#saveButton { /*for id's not classes we use the # not .*/
    padding: 9px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin-right: 300px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: rgba(225,225,225, 0.3);
    backdrop-filter: blur(2px);
}

#reset {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    margin-top: -39px;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: rgba(225,225,225, 0.3);
    backdrop-filter: blur(2px);
}

#saveButton:hover {
    opacity: 0.4;
    transform: scale(1.09);
}

#reset:hover {
    opacity: 0.4;
    transform: scale(1.09);
}

#saveButton:active {
    transform: scale(0.95);
}

#reset:active {
    transform: scale(0.95);
}

#saveAsPDF {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: rgba(225,225,225, 0.3);
    backdrop-filter: blur(2px);
    margin-top: -50px;
    margin-right: -280px;
}

#saveAsPDF:hover {
    opacity: 0.4;
    transform: scale(1.09);
}

#saveAsPDF:active {
    transform: scale(0.95);
}

.time {
    color: white;
}