@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; /*centers horizontally*/
    text-align: center; /*centers vertically */
    background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
    height: 100vh;
}

@keyframes general {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



.title-box {
    height: 450px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(225,225,225, 0.3), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25));
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 30px rgba(0,0,0,0.6);
    padding: 8px;
    margin: 4px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    color: white;
    gap: 30px;
    background-size: cover; /*scales image to cover entire background*/
    background-size: 400% 400%;
    animation: general 5s ease infinite;
}



.title-box input {
    color: white;
    background: rgba(255, 255, 255, 0.5);
    padding: 12px;
    border-radius: 8px;
    border: none;;
    box-shadow: 0 4px 30px rgba(0,0,0,0.5);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.title-button {
    margin: 20px 20px;
    font-family: 'Poppins', sans-serif;
    width: 300px;
    padding: 10px 10px;
    border: none;
    box-shadow: 0 4px 30px rgba(0,0,0,0.6);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.4);
    color: black;
    font-size: large;
    font-weight: bold;
}

.title-button:hover {
    opacity: 0.5;
    transform: scale(1.05);
    cursor: pointer;
}

.title-button:active {
    transform: scale(0.9)
}



